@font-face {
  /* https://fonts.google.com/specimen/Montserrat */
  font-family: "Montserrat";
  src: url(./font/Montserrat-VariableFont_wght.ttf) format("TrueType");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hide scrollbar for IE, Edge and Firefox */
  main,
  section,
  .project-card-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  main::-webkit-scrollbar,
  section::-webkit-scrollbar,
  .project-card-wrapper::-webkit-scrollbar {
    @apply hidden;
  }

  body {
    @apply bg-light dark:bg-dark text-dark dark:text-light;
  }

  body * {
    @apply transition-colors duration-75;
  }

  header,
  footer {
    @apply h-14 w-full px-7 md:px-14 bg-light dark:bg-dark z-50;
  }

  aside {
    @apply h-[calc(100vh-2*56px)] mt-14 pl-[200px];
  }

  main {
    @apply h-[calc(100vh-2*56px)] w-full mt-14 overflow-y-scroll snap-y scroll-smooth;
  }

  section {
    @apply h-[calc(100vh-2*56px)] px-7 md:px-14 snap-center;
  }

  a {
    transition: transform 500ms ease;
  }

  button:disabled {
    @apply text-disabled;
    pointer-events: none;
  }
}

@layer components {
  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .text-hello {
    @apply text-[10vw] portrait:text-[15vw] leading-[0.8] font-extrabold;
  }

  .text-big {
    @apply text-6xl md:text-7xl leading-[0.8] font-extrabold;
  }

  .text-disabled {
    @apply text-zinc-400 dark:text-zinc-500;
  }

  .btn-dark-mode {
    @apply h-5 md:h-6 aspect-[2] rounded-md shadow-inner;
    transition: background-color 500ms ease;
  }

  .btn-dark-mode.theme-1:hover {
    @apply bg-theme-1;
  }

  .btn-dark-mode.theme-2:hover {
    @apply bg-theme-2;
  }

  .btn-dark-mode.theme-3:hover {
    @apply bg-theme-3;
  }

  .dark-mode-ball {
    @apply h-[calc(100%-4px)] aspect-square mx-0.5 bg-light dark:bg-dark rounded-md;
  }

  .dark-mode-ball {
    transition: transform 750ms ease;
  }

  .dark-mode-ball.dark {
    @apply translate-x-[calc(100%+4px)];
  }

  .icon-mode-dark,
  .icon-mode {
    transition: opacity 75ms ease;
  }

  .icon-mode-dark {
    @apply opacity-0 dark:opacity-100 absolute;
  }

  .icon-mode {
    @apply opacity-100 dark:opacity-0 absolute;
  }

  .icon-about-tool,
  .icon-contact-link {
    @apply h-[30px] sm:h-[40px] text-[30px] sm:text-[40px] aspect-square;
  }

  .icon-next {
    @apply h-[70px] aspect-square;
    transition: transform 500ms ease;
  }

  button:hover .icon-next {
    @apply scale-110;
  }

  .btn-mini-tab {
    @apply h-3 aspect-[4] border border-light dark:border-theme-3 rounded-md;
    transition: background-color 500ms ease;
  }

  .btn-mini-tab.active {
    @apply bg-light dark:bg-theme-3;
  }

  .project-card-outer-wrapper {
    @apply w-[60%] p-4 bg-light dark:bg-transparent border dark:border-theme-3 rounded-md relative;
  }

  .project-card-wrapper {
    @apply flex gap-4 overflow-x-scroll snap-x scroll-smooth relative;
  }

  .project-card {
    @apply min-w-full flex justify-center items-center snap-center relative;
  }

  .project-card-image {
    @apply rounded-md opacity-50;
  }

  .project-card-index {
    @apply text-8xl leading-[0.8] font-extrabold absolute top-0 left-0;
  }

  .project-card-name {
    @apply w-full text-4xl font-bold text-center absolute top-1/2 -translate-y-1/2;
  }

  .project-card-type {
    @apply w-full font-bold text-center absolute top-3/4 -translate-y-1/2;
  }

  .project-card-expand {
    @apply h-[50px] aspect-square bg-dark dark:bg-light bg-opacity-50 opacity-50 absolute top-4 right-4;
  }

  .btn-project-card-next {
    @apply h-14 aspect-square bg-dark dark:bg-light bg-opacity-50 -rotate-90 opacity-50 absolute top-[calc(50%-28px)] right-4;
  }

  .btn-project-card-prev {
    @apply h-14 aspect-square bg-dark dark:bg-light bg-opacity-50 rotate-90 opacity-50 absolute top-[calc(50%-28px)] left-4;
  }

  .project-card-image,
  .project-card > div,
  .project-card-expand,
  .btn-project-card-next,
  .btn-project-card-prev {
    transition: opacity 500ms ease;
  }

  .project-card-wrapper:hover .project-card-image,
  .project-card-outer-wrapper:hover .project-card-expand:hover,
  .btn-project-card-next:hover,
  .btn-project-card-prev:hover {
    @apply opacity-100;
  }

  .project-card-wrapper:hover .project-card-index {
    @apply opacity-50;
  }

  .project-card-wrapper:hover .project-card-name,
  .project-card-wrapper:hover .project-card-type {
    @apply opacity-0;
  }

  .underline-h,
  .highlight-h {
    @apply relative;
  }

  .underline-h:after {
    @apply h-0.5 w-0 bg-dark dark:bg-light rounded-full absolute left-0 bottom-0.5;
    content: "";
    transition: width 500ms ease;
  }

  button:hover .underline-h:after {
    @apply w-full;
  }

  .highlight-h:after {
    @apply h-[50%] w-0 opacity-80 absolute top-[25%] left-[-15px] -z-10;
    content: "";
    transition: width 500ms ease;
  }

  button:hover .highlight-h:after {
    @apply w-[calc(100%+30px)];
  }

  .about-span {
    @apply text-light dark:text-theme-2;
  }

  .tool:hover .icon-about-tool {
    @apply block;
  }

  /* Animation */
  [class^="animate-"] {
    will-change: animation;
  }
}

@layer utilities {
  aside,
  #btn-menu-l,
  #btn-menu-l-close,
  #btn-menu-l-close > div {
    transition: transform 500ms ease;
  }

  main.move {
    @apply translate-x-[40vw];
  }

  aside.move {
    @apply translate-x-0;
  }

  #btn-menu-l.show {
    @apply translate-y-[200px];
  }

  #btn-menu-l-close.show {
    @apply translate-x-[200px];
  }

  #btn-menu-l-close:hover > div {
    @apply rotate-180;
  }

  main {
    transition:
      transform 500ms ease,
      opacity 500ms ease;
  }

  #article-about {
    transition: opacity 500ms ease;
  }

  /* Menu dot */
  button:disabled > div > span {
    @apply opacity-100;
  }
}
