@font-face {
  /* https://fonts.google.com/specimen/Montserrat */
  font-family: "Montserrat";
  src: url(./font/Montserrat-VariableFont_wght.ttf) format("TrueType");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hide scrollbar for IE, Edge and Firefox */
  main,
  section {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  main::-webkit-scrollbar,
  section::-webkit-scrollbar {
    @apply hidden;
  }

  body {
    @apply bg-light dark:bg-dark text-light dark:text-dark;
  }

  body * {
    @apply transition-colors duration-75;
  }

  header,
  footer {
    @apply h-14 w-full px-7 md:px-14 bg-light dark:bg-dark z-50;
  }

  aside {
    @apply h-[calc(100vh-2*56px)] mt-14 pl-[200px];
  }

  main {
    @apply h-[calc(100vh-2*56px)] w-full mt-14 overflow-y-scroll snap-y scroll-smooth;
  }

  section {
    @apply h-[calc(100vh-2*56px)] px-7 md:px-14 overflow-x-scroll snap-center scroll-smooth;
  }

  h1 {
    @apply text-[10vw] portrait:text-[15vw] leading-[0.8] font-extrabold;
  }

  h2 {
    @apply text-6xl md:text-7xl leading-[0.8] font-extrabold;
  }

  a {
    transition: transform 500ms ease;
  }

  button:disabled {
    @apply text-disabled;
    pointer-events: none;
  }
}

@layer components {
  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .bg-theme-1 {
    @apply bg-red-400;
  }

  .bg-theme-2 {
    @apply bg-yellow-400;
  }

  .bg-theme-3 {
    @apply bg-sky-500;
  }

  .bg-light {
    @apply bg-slate-100;
  }

  .bg-dark {
    @apply bg-zinc-800;
  }

  .text-theme-1 {
    @apply text-red-400;
  }

  .text-theme-2 {
    @apply text-yellow-400;
  }

  .text-theme-3 {
    @apply text-sky-500;
  }

  .text-light {
    @apply text-zinc-800;
  }

  .text-dark {
    @apply text-slate-100;
  }

  .text-disabled {
    @apply text-zinc-400 dark:text-zinc-500;
  }

  .btn-dark-mode {
    @apply h-5 md:h-6 aspect-[2] rounded-md shadow-inner;
    transition: background-color 500ms ease;
  }

  .btn-dark-mode.theme-1:hover {
    @apply bg-theme-1;
  }

  .btn-dark-mode.theme-2:hover {
    @apply bg-theme-2;
  }

  .btn-dark-mode.theme-3:hover {
    @apply bg-theme-3;
  }

  .dark-mode-ball {
    @apply h-[calc(100%-4px)] aspect-square mx-0.5 bg-light dark:bg-dark rounded-md;
  }

  .dark-mode-ball {
    transition: transform 750ms ease;
  }

  .dark-mode-ball.dark {
    @apply translate-x-[calc(100%+4px)];
  }

  .icon-mode-dark,
  .icon-mode {
    transition: opacity 75ms ease;
  }

  .icon-mode-dark {
    @apply opacity-0 dark:opacity-100 absolute;
  }

  .icon-mode {
    @apply opacity-100 dark:opacity-0 absolute;
  }

  .icon-contact-link {
    @apply h-[30px] sm:h-[40px] text-[30px] sm:text-[40px] aspect-square;
  }

  .icon-next {
    @apply h-[70px] aspect-square;
    transition: transform 500ms ease;
  }

  button:hover .icon-next {
    @apply scale-110;
  }

  .underline-h,
  .highlight-h {
    @apply relative;
  }

  .underline-h:after {
    @apply h-0.5 w-0 bg-dark dark:bg-light rounded-full absolute left-0 bottom-0.5;
    content: "";
    transition: width 500ms ease;
  }

  button:hover .underline-h:after {
    @apply w-full;
  }

  .highlight-h:after {
    @apply h-[50%] w-0 opacity-80 absolute top-[25%] left-[-15px] -z-10;
    content: "";
    transition: width 500ms ease;
  }

  button:hover .highlight-h:after {
    @apply w-[calc(100%+30px)];
  }

  /* Animation */
  [class^="animate-"] {
    will-change: animation;
  }
}

@layer utilities {
  main,
  aside,
  #btn-menu-l,
  #btn-menu-l-close,
  #btn-menu-l-close > div {
    transition: transform 500ms ease;
  }

  main.move {
    @apply translate-x-[40vw];
  }

  aside.move {
    @apply translate-x-0;
  }

  #btn-menu-l.show {
    @apply translate-y-[200px];
  }

  #btn-menu-l-close.show {
    @apply translate-x-[200px];
  }

  #btn-menu-l-close:hover > div {
    @apply rotate-180;
  }

  /* Menu dot */
  button:disabled > div > span {
    @apply opacity-100;
  }
}
